$darkgray: #3a4458;
$darkergray: #171b23;
$black: #1c1b21;
$purewhite: white;
$white: #e8e8e9;
$lightwhite: #f7f7f7;
$yellow: #fcbf49;
$blue: #1d809f;
$red: #d83636;
$green: #36d876;
$lightgreen: #72e59f;
