@import "../styles/mixins";
@import "../styles/common";

$delay: 0.5s;
$wrapperHeight: 95vh;
$wrapperBgColor: #fcbf49;

.wrapper {
  @include wrapper-default($wrapperBgColor, $wrapperHeight);
}

.cardlist {
  @include flex-column-center;
  gap: 0.5rem;
  padding: 3.5rem 0;
}

.card {
  height: 5rem;
  position: relative;

  & > p {
    width: 0;
    opacity: 0;
    background-color: white;
    padding: 2.3rem;
    border-radius: 1.5rem;
    height: 5rem;
    @include flex-center;
    position: absolute;
    color: white;
    font-size: 1.1rem;
    overflow: hidden;
    white-space: nowrap;
  }

  .animation {
    animation: revealCard 250ms linear forwards;
  }
  .left {
    animation: revealCard 250ms linear forwards;
  }
  .right {
    right: 0rem;
  }
}

.description {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  color: black;
  margin-top: 1rem;
  padding-right: 0.1rem;
}

@for $i from 0 through 4 {
  .cardlist li:nth-child(#{$i + 1}) p {
    animation-delay: $i * $delay;
  }
}

@keyframes typingCursor {
  from {
    border-right: 2px solid $wrapperBgColor;
  }
  to {
    border-right: 2px solid black;
  }
}

@keyframes revealCard {
  from {
    width: 0;
    color: white;
  }
  to {
    width: 28rem;
    opacity: 1;
    color: black;
  }
}
