.wrapper {
  height: 70vh;
  padding-top: 50px;
  background-color: #d83636;
  padding: 2rem;
  color: white;
}

.title {
  font-size: 3rem;
  font-weight: 700;
}

.inputWrapper {
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  h2 {
    font-size: 1.8rem;
    font-weight: 500;
  }

  input {
    display: block;
    width: 45vw;
    border-radius: 1.5rem;
    padding: 0.5rem 1.5rem;
    color: black;
  }
}

.exampleWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;

  h4 {
    color: #f2e8c6;
    font-size: 1.1rem;
  }
}

.exampleBtnWrapper {
  display: flex;
  gap: 1.5rem;
  animation: fadeInUp 1s;
}

.exampleBtn {
  padding: 0.3rem 1rem;
  background-color: #f2e8c6;
  border-radius: 1.5rem;
  color: #d83636;
  cursor: pointer;
  transition: all ease-in 150ms;

  p {
    font-weight: 700;
  }

  &:hover {
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
      0 4px 6px -4px rgb(0 0 0 / 0.1);
    transform: scale(1.25);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
