.wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  padding: 0.5rem 3rem;
  display: flex;
  background-color: white;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

  h2 {
    font-weight: 700;
    font-size: 1.6rem;
    cursor: pointer;
  }
}

.isTop {
  background: none;
}
