.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.headerBox {
  background-color: #3a4458;
  height: 25rem;
}

.spinnerBox {
  position: fixed;
  display: flex;
  justify-content: center;
  margin: 30px;
  left: 50%;
  transform: translate(-30%, 0);
}

.spinnerCircle {
  width: 15px;
  height: 15px;
  margin: 0 5px;

  background-color: #e14242;
  border-radius: 50%;
  transform-origin: center bottom;
  animation: circleBounce 1.2s cubic-bezier(0.3, 0.01, 0.4, 1) infinite;
}

@for $i from 0 through 6 {
  .spinnerCircle:nth-child(#{$i}) {
    animation-delay: $i * 0.1s;
  }
}

@keyframes circleBounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
