@import "../../styles/mixins";
@import "../../styles/common";

$wrapperBgColor: #1d809f;
$wrapperHeight: 35rem;
$delay: 0.1s;

.wrapper {
  @include wrapper-default($wrapperBgColor, $wrapperHeight);
}

.cardListWrapper {
  margin: 3rem 0;
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.cardWrapper {
  perspective: 1000px;
  padding: 2.5rem 1rem;
  margin: 0 0.5rem;
  opacity: 0;
  animation: flipCard 400ms linear forwards;
  &:hover {
    .cardTransform {
      transform: rotateY(-180deg);
    }
  }
}

.cardTransform {
  transform-style: preserve-3d;
  transition-duration: 500ms;
  height: 16rem;
  position: relative;
  transform: rotateY(0);
}

.cardFront {
  backface-visibility: hidden;
  position: absolute;
  background-color: white;
  @include flex-column-center;
  gap: 2rem;
  height: 100%;
  width: 100%;
  border-radius: 1.5rem;

  h4 {
    font-size: 1.3rem;
    font-weight: 700;
    color: $wrapperBgColor;
  }
}

.cardBack {
  backface-visibility: hidden;
  position: absolute;
  transform: rotateY(-180deg);
  background-color: #8ebfcf;
  color: white;
  height: 100%;
  width: 100%;
  border-radius: 1.5rem;
  @include flex-center;

  p {
    padding: 0 1rem;
  }
}

@for $i from 0 through 6 {
  .cardBody_#{$i} {
    animation-delay: $i * $delay;
  }
}

@keyframes flipCard {
  from {
    opacity: 0;
    transform: rotateY(180deg);
  }
  to {
    opacity: 1;
  }
}
