@import "../../styles/mixins";
@import "../../styles/common";

$wrapperBgColor: #d83636;
$wrapperHeight: 70vh;
$delay: 0.1s;

.wrapper {
  @include wrapper-default($wrapperBgColor, $wrapperHeight);
}

.inputWrapper {
  margin: 3rem 0;
  @include flex-column-center;
  gap: 2rem;

  h3 {
    font-size: 1.8rem;
    font-weight: 500;
    color: white;
  }

  input {
    display: block;
    width: 45vw;
    border-radius: 1.5rem;
    padding: 0.5rem 1.5rem;
    color: black;
  }
}

.exampleWrapper {
  @include flex-column-center;
  gap: 1.5rem;
  opacity: 0;

  h4 {
    color: #f2e8c6;
    font-size: 1.1rem;
  }
}

.exampleAnimation {
  animation: fadeInUp 1s forwards;
}

.exampleBtnWrapper {
  display: flex;
  gap: 1.5rem;
}

.exampleBtn {
  padding: 0.3rem 1rem;
  background-color: #f2e8c6;
  border-radius: 1.5rem;
  color: $wrapperBgColor;
  cursor: pointer;
  transition: all ease-in 150ms;

  p {
    font-weight: 700;
  }

  &:hover {
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
      0 4px 6px -4px rgb(0 0 0 / 0.1);
    transform: scale(1.25);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
